/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */


/* TOP NAVBAR */

.top-nav{
    width: 100%;
    position: absolute;
    top: 83px;
    text-align: center;
    height: 36px;
    z-index: 2;
}
.top-nav ul{

    text-decoration: none;
    float: left;
    height: 36px;
    background: 
        url(../img/globalnav.png) -16px 0 no-repeat;
    background-size: 2000px 180px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.top-nav ul>li:first-child{
    background: 
        url(../img/globalnav_text.png) -25px 3px, no-repeat;
        
        
}
.top-nav ul>li:nth-child(2){
    background: 
        url(../img/globalnav_text.png) no-repeat -25px -27px;
        
}
.top-nav ul>li:nth-child(3){
    background: 
        url(../img/globalnav_text.png) no-repeat -25px -57px;
        
}
.top-nav ul>li:nth-child(4){
    background: 
        url(../img/globalnav_text.png) no-repeat -25px -87px;
        
}

.top-nav ul>li:nth-child(5){
    background: 
        url(../img/globalnav_text.png) no-repeat -25px -117px;
        
}
.top-nav ul>li:nth-child(6){
    background: 
        url(../img/globalnav_text.png) no-repeat -25px -147px;
        
}
.top-nav ul>li:nth-child(7){
    background: 
        url(../img/globalnav_text.png) no-repeat -25px -177px;
        
}
.top-nav ul>li:nth-child(8){
    background: 
        url(../img/globalnav_text.png) no-repeat -25px -207px;
        
}



.top-nav li{
    float: left;
    width: 104px;
    height: 36px;
    border-right: 2px solid rgb(0, 0, 0, 0.2);
    /* border-image: url(../img/globalheader.png) 25 0 round; */
        
}
.top-nav>div{
    margin: auto;
    width: 980px;
    overflow: auto;
}
.top-nav>div>div{
    background: url(../img/globalnav.png) no-repeat -16px 0;
    background-size: 400px 180px;
    float: right;
    width: 132px;
    height: 36px;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.search-img{
    position: absolute;
    background: url(../img/search_white.png) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    left: 27px;
    top: 11px;
}
.top-nav input{
    border-radius: 12px;
    margin-top: 8px;
    background: 
        url(../img/globalnav.png) -16px -9px no-repeat;
    background-size: 2000px 180px;
    border-top-color: grey;
    border-left-color: grey;
    border-right-color: grey;
    border-bottom-color: lightgrey;
    border-width: 1px;
    margin-left: 12px;
    width: 106px;
    line-height: 16px;
}

/* TOP NAVBAR */


/* MAIN SECTION */

main>section{
    width: 100%;
}
main>aside{
    width: 100%
}

.hero{
    background: url(../img/your_verse_hero.jpg) 0px -777px no-repeat;
    height: 538px;
    width: 1440px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.hero>div{
    position: absolute;
    top: 45px;
    width: 100%;
    height: 335px;
    background: 
        url(../img/your_verse_title_small.png) no-repeat 185px 104px, 
        url(../img/your_verse_subhead_small.png) no-repeat 185px 198px, 
        url(../img/cta_your_verse_27pt.png) no-repeat 187px 305px;
    z-index: 2;
}
.products{
    width: 1440px;
    height: 200px;
    margin: auto;
}

.products>div{
    float: left;
    width: 25%;
    height: 200px;

}
.iphone5s{
    background: url(../img/promo_iphone5s.jpg) 0 0 no-repeat;
}
.iphone5c{
    background: url(../img/promo_iphone5c.jpg) 0 0 no-repeat;
}
.hpbd-mac{
    background: url(../img/promo_30_years.jpg) 0 0 no-repeat;
}
.supplier-res{
    background: url(../img/promo_supplier_responsibility.jpg) 0 0 no-repeat;
}
/* MAIN SECTION */



/* FOOTER */

footer{
    height: 90px;
}
footer>div{
    width: 980px;
    margin: auto;
    padding-top: 10px;
}
footer>div>p{
    font-size: 10px;
    color: #6E6E6E;
    padding-top: 15px;
    display: inline-block;
    width: 50%;
}
footer ul{
    display: inline-block;
}
.contact-us{
    width: 49%;
}


footer li{
    display: inline-block;
    font-size: 10px;
    margin-left: 6px;
    padding-left: 6px;
    border-left: 1px solid rgb(204, 204, 204);
    height: 12px;
}
.img-li{
    position: relative;
    top: 3px;

}
.img-li img{
    position: absolute;
    top: -2px;
    height: 16px;
    width: 16px
}
.first{
    margin-left: 6px;
    padding-left: 6px;
    border-left: none;
}
.terms{
    margin-left: 10px;
}

footer>div>div{
    width: 50%;
    padding-top: 15px;
}
.left-p{
    float: left;
    margin-top: 5px;
    font-size: 10px;
    color: #6E6E6E;
}
a{
    text-decoration: none;
}
/* FOOTER */